.centered{
	text-align				: center;
}


.w50 {
	width			: 50%;
	margin			: auto;
}

.w60 {
	width			: 60%;
	margin			: auto;
}

.w80 {
	width			: 80%;
	margin			: auto;
}

.c13 {
	width			: 33.3%;
	margin			: auto;
}

.c23 {
	width			: 66.6%;
	margin			: auto;
}
