%centered{
	margin-left				: auto;
	margin-right			: auto;
}

%text-centered{
	text-align				: center;
}

%container{
	display					: flex;
	flex-direction			: column;
	justify-content			: space-between;
	align-items				: flex-start;
	align-content			: center;
	
	width					: 100%;
	padding					: 0 5% 3.5rem 5%;
}

%theme_titles {
    h2 {
        font-size			: 1.4rem;
        font-weight			: bold;
        padding-top			: 3.5rem;
        padding-bottom		: 1.5rem;
    }
}

@for $i from 1 through 9 {
	#{"%w"}#{$i}0 {
		width : #{$i}0%;
		margin : auto;
	}
}

%w100 {
	width : 100%;
	margin : 0 auto;
}

@for $j from 2 through 7 {
	$v : floor(100000.0 / $j) / 1000.0 - 0.00001;
	@for $i from 1 through $j {
		#{"%c"}#{$i}#{$j} {
			width : $i*$v#{"%"};
			margin : auto;
		}
	}
}
