.btn {
	@extend					%centered;
	
	padding					: 1rem 1rem;
	border-radius			: 2rem;
	border					: none;
	
	text-align				: center;

	color					: #fff;
	background-image		: linear-gradient($colour_secondary,$colour_primary);
	box-shadow				: 0 0.25rem 1rem rgba(0,0,0, 0.25);
	
	cursor					: pointer;
	
	position				: relative;

	&::before {
		@include			after-background;
		border-radius		: 2rem;
		background-color	: lighten($colour_secondary,5%);
		box-shadow			: 0 0.25rem 1.5rem black;
		opacity				: 0;
		z-index				: -1;
		transition			: opacity 1000ms;
	}

	&:hover {
		animation			: anticipate 400ms ease-in-out forwards;
		border				: none;
		color				: white;
		
		&::before {
			opacity			: 0.3;
		}
	}
	/* if button is a link */
	&,a{
		display				: block;
		text-decoration		: none;
	}
}

@keyframes anticipate {
	0% {
		transform: scale(1.0);
	}
	15% {
		transform: scale(0.95);
	}
	35% {
		transform: scale(0.96);
	}
	80% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1.1);
	}
}
