.btn {
	@extend			%centered;
	
	padding			: 1rem 1rem;
	border-radius	: 2rem;
	border			: none;
	text-align		: center;
	color			: #fff;
	background-image: linear-gradient(rgba($colour_secondary,1.0),rgba($colour_primary,0.7));
	background-color: rgba($colour_primary,1.0);
	box-shadow		: 0 0.25rem 1rem rgba(0,0,0, 0.25);
	
	cursor			: pointer;
	
	transition		: background-color 250ms, color 250ms,
					  text-shadow 400ms ease-in-out,
					  box-shadow 400ms ease-in-out,
					  transform 1400ms;
	
	&:hover{
		animation : anticipate 500ms ease-in-out forwards;
		border		: none;
		background-color: rgba($colour_secondary,0.7);
		box-shadow	: 0 0.25rem 1rem rgba(0,0,0, 1.0);
		text-shadow : 0px  0px 0.2rem rgba(black,1);
	 	color		: white;
	}
	&,a{
		display : block;
		text-decoration: none;
	}
}

@keyframes anticipate {
	0% {
		transform: scale(1.0);
	}
	15% {
		transform: scale(0.95);
	}
	35% {
		transform: scale(0.96);
	}
	80% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1.1);
	}
}
