.btn {
	@extend					%centered;
	
	padding					: 1rem;
	border-radius			: 2rem;
	border					: none;
	
	text-align				: center;

	color					: #fff;
	background-image		: linear-gradient($colour_secondary,$colour_primary);
	box-shadow				: 0 0.25rem 1rem rgba(0,0,0, 0.25);
	
	cursor					: pointer;
	
	position				: relative;
	transform				: scale(1.0);
	transition				: transform 500ms cubic-bezier(0.2,-2.0, 0.8,2.0);

	&::before {
		@include			after-background;
		border-radius		: 2rem;
		background-color	: lighten($colour_secondary,5%);
		box-shadow			: 0 0.25rem 1.5rem black;
		opacity				: 0;
		z-index				: -1;
		transition			: opacity 500ms;
	}

	&:hover {
		transform			: scale(1.1);
		border				: none;
		color				: white;
		
		&::before {
			opacity			: 0.3;
		}
	}
	/* if button is a link */
	&,a{
		display				: inline-block;
		text-decoration		: none;
	}
}
