@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

* {
    font-family			: 'Roboto', verdana, sans-serif;
    font-size			: 1em;
    font-weight			: normal;
}

.logo {
    font-family			: 'Shrikhand', sans-serif;
}

h1 {
    font-size			: 1.5rem;
    font-weight			: bold;
    text-align			: center;
}

h2 {
    font-size			: 1.1rem;
}