.container{
	display					: flex;
	flex-direction			: column;
	justify-content			: space-between;
	align-items				: flex-start;
	align-content			: center;
	
	width					: 100%;
	padding					: 0 5% 3.5rem 5%;
}


.card{
	
	a {
		text-decoration		: none;
		color				: inherit;
	}
	
	position				: relative;
	
	display					: flex;
	flex-direction			: column;
	
	width					: 100%;
	
	margin-bottom			: 1.1rem;
	
	&--left {
		flex-direction		: row;
		flex-wrap			: no-wrap;
	}
	
	background				: #fff;
	border-radius			: 15px;
	border					: none;
	box-shadow				: 0 0.4rem 0.5rem rgba(0,0,0, 0.07);
	
	&__image {
		width				: 100%;
		height				: 11rem;
		object-fit			: cover;
		border-radius		: 16px 16px 0 0;
	}
	.new &__desc::before {
		position			: absolute;
		top					: 0.8rem;
		right				: 0.8rem;
		width				: auto;
		height				: auto;
		padding				: 0.5rem;
		
		content				: 'Nouveau';
		color				: green;
		background			: $colour_tertiary;
		display				: block;
	}
	
	&--left > &__image {
		width				: 40%;
		border-radius		: 16px 0 0 16px;
	}
	
	&__desc {
		padding				: 1rem 0;
		margin				: auto 1rem;
	}
	&--left > &__desc {
		margin-top			: 1rem;
		padding				: 0;
	}
	
	&__title {
		font-weight			: bold;
	}
	
	&__location {
	}
}