.footer{
	width				: 100%;
	color				: $colour-darker-font;
	background			: $colour-darker-back;
	padding-top			: 1.8rem;
	padding				: 1.75rem 1.25rem;

	.wrapper {
		width			: auto;
		margin			: auto;
		display			: flex;
		align-items		: flex-start;
		justify-content	: center;
		flex-direction	: column;
		color			: white;
	}
	
	&__logo{
		font-size		: 1rem;
		width			: auto;
		height			: 2.2rem;
		filter			: brightness(20);
		margin-bottom	: 1.2rem;
	}
	
	ul{
		list-style		: none;
		padding-bottom	: 1.5rem;
		font-size		: 1.2rem;
	}
	
	li {
		.fas {
			font-size	: 1rem;
			width		: 1rem;
			padding-right: 1.5rem;
		}
	}
	
	a {
		color				: inherit;
		text-decoration		: none;
	}
}
