.geolocalisation{
    @extend                 %centered;
    
	position				: relative;
	z-index					: 0;
	
	padding-top				: 1rem;
	padding-bottom			: 1rem;
	
	background				: $colour-dark-back;
	color					: $colour-dark-font;
	
	.fa-map-marker-alt{
		margin				: auto;
		padding-right		: 1rem;
		
		&::after {
			content			: "Paris, Belleville";
			padding-left	: 1rem;
			font-family		: 'Roboto', verdana, sans-serif;
			font-weight		: normal;
		}
	}
}

.heading {
	@extend                 %centered;

	width					: 100%;
	padding					: 0 5% 3.5rem 5%;
	
	color					: $colour-light-font;
	background				: $colour-light-back;
	
	&__title {
		width				: 75%;
		margin				: auto;
		font-size			: 1.5rem;
		font-weight			: bold;
		padding-top			: 2.5rem;
	}
	
	&__desc {
		padding-bottom		: 1.5rem;
	}
	
	&__btn {
		padding				: auto 0;
	}
}


.howto {
	@extend                 %container;
    @extend                 %theme_titles;

	ul{
		list-style			: none;
	}

	&__title {
		
	}
	
	&__items {
		width				: 100%;
		font-size			: 1rem;
		
		display				: flexbox;
		flex-direction		: column;
		justify-content		: space-between;
		
		counter-reset		: howto__items--counter;
	}
	
	&__item {
		display				: flex;
		flex-direction		: row;
		justify-content		: flex-start;
		align-items			: center;
		
		height				: 4rem;
		margin-bottom		: 1.5rem;
		margin-left			: 1.5rem;
		padding-left		: 1.0rem;
		
		color				: $colour-light-font;
		background			: $colour-light-back;
		border-radius		: 1.5rem;
		box-shadow			: 0 0.4rem 1.8rem rgba(0,0,0, 0.15);
		
		counter-increment	: howto__items--counter;
		
		&:hover {
			background		: rgba($colour_primary,0.1);
			.fas {
				color		: $colour_primary;
			}
		}
		
		.item--index {
			transform		: translate(-100%,0);
			color			: white;
			background		: $colour_primary;
			border-radius	: 100%;
			
			width			: 1.5rem;
			text-align		: center;
				display		: flex;
				justify-content: center;
				align-items	: center;
			
			&::after {
				content		: counter(howto__items--counter);
			}
		}
		.fas {
			color			: grey;
		}
	}

	.item--name {
		font-weight			: bold;
		padding-left		: 1.5rem;
	}
}


.restaurants{
    @extend                 %container;
    @extend                 %theme_titles;
    
	color					: $colour-light-font;
	background				: $colour-light-back;
	
	&__title {
	}
}