.geolocalisation{
    @extend                 %text-centered;
    
	width					: 100%;

	position				: relative;
	z-index					: 0;
	
	padding-top				: 1rem;
	padding-bottom			: 1rem;
	
	background				: $colour_dark-back;
	color					: $colour_dark-font;
	
	@media all and (min-query("tablet")){
		transition			: width 1s, position 1s, border 1s, border-radius 1s;
	}

	.fa-map-marker-alt{
		margin				: auto;
		padding-right		: 1rem;
		
		&::after {
			content			: "Paris, Belleville";
			padding-left	: 1rem;
			font-family		: 'Roboto', verdana, sans-serif;
			font-weight		: normal;
		}
	}

	@media all and (min-query("desktop")){
		float				: right;
		width				: 15rem;
		margin-top			: -3rem;
		margin-right		: 3rem;
		padding				: 0.5rem 1rem;
		border-radius		: 2rem;
		border				: 1px solid rgba(black,0.3);
		box-shadow			: inset -2px -2px 0.5rem rgba(black,0.05);
		z-index : 1;
	}
}

.desktop-flex {
	display					: flex;
	flex-direction			: column;
	justify-content			: space-around;
	align-content			: center;
	align-items				: center;
	
	@media all and (min-query("desktop")){
		flex-direction		: row;
	}
}

.heading {
	@extend                 %text-centered;
	
	color					: $colour_light-font;
	background				: $colour_light-back;
	
	&__title {
		width				: 75%;
		margin				: auto;
		font-size			: 1.5rem;
		font-weight			: bold;
		padding-top			: 2.5rem;
	}
	
	&__desc {
		padding-bottom		: 1.5rem;
	}

	@media all and (min-query("desktop")){
		width				: 350px;
		display				: inline-block;
		border-radius		: 2rem;
		margin				: 2rem auto auto auto;
	}
}


.howto {
	@extend					%text-centered;
    @extend                 %theme_titles;

	ul{
		list-style			: none;
	}

	&__items {
		width				: 100%;
		font-size			: 1rem;
		
		display				: flex;
		flex-direction		: column;
		justify-content		: space-between;
		
		counter-reset		: howto_items-counter;
	}
	
	&__item {
		display				: flex;
		flex-direction		: row;
		justify-content		: flex-start;
		align-items			: center;
		
		position			: relative;
		
		height				: 4rem;
		margin-bottom		: 1.5rem;
		margin-left			: 1.5rem;
		padding-left		: 1.0rem;
		
		color				: $colour_light-font;
		background			: $colour_light-back;
		border-radius		: 1.5rem;
		box-shadow			: 0 0.4rem 1.8rem rgba(0,0,0, 0.15);
		
		counter-increment	: howto_items-counter;
		transition			: transform 400ms;
		
		&::after {
			content			: "";
			position		: absolute;
			top : 0; bottom : 0; left : 0; right : 0;

			border-radius	: 1.5rem;
			background		: rgba($colour_primary,0.1);
			opacity			: 0;
			transition		: opacity 250ms;
		}

		&:hover {
			transform		: scale(1.05);

			&::after {
				opacity		: 1;
			}

			.fas {
				color		: $colour_primary;
			}
		}
		
		.item--index {
			transform		: translate(-100%,0);
			color			: white;
			background		: $colour_primary;
			border-radius	: 100%;
			
			width			: 1.5rem;
			text-align		: center;
				display		: flex;
				justify-content: center;
				align-items	: center;
			
			&::after {
				content		: counter(howto_items-counter);
			}
		}
		.fas {
			color			: grey;
		}
	}

	.item--name {
		font-weight			: bold;
		padding-left		: 1.5rem;
	}

	@media all and (min-query("desktop")){
		display				: inline-block;
		width				: 450px;
	}
}


.restaurants{
    @extend                 %container;
    @extend                 %theme_titles;
    
	color					: $colour_light-font;
	background				: $colour_light-back;
	transition				: background 1s;

	@media all and (min-query("tablet")){
		background			: $colour_lighter-back;
	}
	

	@media all and (min-query("desktop")){
		border-radius		: 2rem;
		margin-bottom		: 5rem;
	}

	& h2 {
		width				: 100%;
		max-width			: 500px;
		margin				: 0 0;

		@media all and (min-query("tablet")){
			margin-top		: 3rem;
			padding			: 1rem 2rem;
			background		: $colour_light-back;
			border-radius	: 0 2rem 0 2rem;
			width			: auto;
		}
	}

	&__box {

		display				: flex;
		flex-direction		: row;
		flex-wrap			: wrap;
		justify-content		: space-around;
		
		width				: 100%;
		
		@media all and (min-query("tablet")){
			background		: $colour_light-back;
			width			: auto;
			margin			: 0 2rem;
			padding			: 4rem 2rem;
			border-radius	: 0 2rem 2rem 2rem;
		}

		.card {
			max-width		: 500px;
			@media all and (min-query("tablet")){
				margin-bottom : 2rem;
			}
			@media all and (min-query("desktop")){
				max-width	: 45%;
			}
		}
	}

}
